{% extends "base.html" %}

{% block nav %}
{% include "includes/admin_nav.html" %}
{% endblock %}


{% block content %}

        <blockquote class="blockquote text-center py-5">
            <h1 class="mb-0 display-4 text-uppercase">Manage Facilities.</h1>
            <footer class="blockquote-footer">Booking of Medical Appointment</footer>
        </blockquote>

      
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="9">
                        <form action="{{ url_for('facilities') }}" method="post" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" name="search_query" placeholder="Search Facility" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Hospital</th>
                    <th>Description</th>
                    <th>Services</th>
                    <th>Fee</th>
                    <th>Contact</th>
                    <th>Bookings</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                    {% for row in result %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3][:50] }} ...</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            
                            <td><a href="{{ url_for('facbookings', id=row[0] ) }}" class="btn btn-info btn-sm">View</a></td>
                            <td><a href="{{ url_for('facility_edit', id=row[0] ) }}" class="btn btn-warning btn-sm">Edit</a></td>
                            <td><a href="{{ url_for('facility_delete', id=row[0] ) }}" class="btn btn-danger btn-sm">X</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">No Record</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        
        
        

{% endblock %}