{% extends "base.html" %}

{% block nav %}
{% include "includes/admin_nav.html" %}
{% endblock %}


{% block content %}


        <blockquote class="blockquote text-center py-5">
            <h1 class="mb-0 display-4 text-uppercase">Facility All Bookings.</h1>
            <footer class="blockquote-footer">Booking of Medical Appointment</footer>
        </blockquote>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Service</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Result</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
                {% if result %}
                {% for rows in result %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ rows[1] }}</td>
                    <td>{{ rows[2] }}</td>
                    <td><a href="../static/images/{{rows[3]}}" download><img src="../static/images/{{rows[3]}}" width="60px" height="60px"></a></td>
                    <td>{{ rows[4] }}</td>
                    <td>{{ rows[5] }}</td>
                    {% if rows[6] == 0 %}
                    <td>Pending</td>
                    {% else %}
                    <td>Approved</td>
                    {% endif %}
                    <td>
                        
                        <a href="{{ url_for('res_positive', id=rows[0] ) }}" class="btn btn-warning btn-sm">Positive</a>
                        <a href="{{ url_for('res_negitive', id=rows[0] ) }}" class="btn btn-primary btn-sm">Negitive</a>

                    </td>
               
                    <td><a href="{{ url_for('del_facbookings', id=rows[0] ) }}" class="btn btn-danger btn-sm">X</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No Record</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        

{% endblock %}